# Foundry build artifacts

cache/
out/
broadcast/

# Environment variables

.env
.env.*

# VS Code

.vscode/

# OS files

.DS_Store
Thumbs.db

# Logs

*.log

# Temporary files

tmp/
temp/

# Private keys / secrets

keystore/
*.keystore
secret.txt

# Coverage

coverage/
lcov.info
